<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{#users}}
    <tr>
        <th scope="row">{{userId}}</th>
        <td>{{name}}</td>
        <td>{{email}}</td>
    </tr>
{{/users}}
</body>
</html>